<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style/fonts.css">
    <link rel="stylesheet" href="style/projects.css">
    <link rel="stylesheet" href="style/about.css">
    <title>misu</title>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>
    <div class="hamburger" onclick="hamburgerActivation()">
        <div class="_layer -top"></div>
        <div class="_layer -mid"></div>
        <div class="_layer -bottom"></div>
    </div>
    <div class="menu ">
        <div class="rw">
            <div class="menu-btn" style="background-color:  #77a8a8;">
                <button onclick="location.href = 'projects.html'" class="menu-btn-text">Proyectos</button>
            </div>
            <div class="menu-btn" style="background-color: #80ced6;">
                <button onclick="location.href = 'about.html'" class="menu-btn-text">Sobre mí</button>
            </div>
            <div class="menu-btn" style="background-color: #f18973;">
                <button onclick="location.href = 'shop.html'" class="menu-btn-text">Tienda</button>
            </div>
            <div class="menu-btn" style="background-color: #eea29a;">
                <button onclick="location.href = 'logistic.html'" class="menu-btn-text">Logistica</button>
            </div>
            <div class="menu-btn" style="background-color: #82b74b;">
                <button onclick="location.href = 'contact.html'" class="menu-btn-text">Contacto</button>
            </div>
            <div class="menu-btn" style="background-color: #b5e7a0;">
                <button onclick="location.href = 'rincon.html'" class="menu-btn-text">Rincón de MISU</button>
            </div>
        </div>
    </div>

    <div class="cont">
        <div class="banner">
            <div class="disp1"><button class="rw2"></button></div>
            <div class="disp1"><button class="rw2"></button></div>
            <div class="disp1"><button class="rw2"></button></div>
            <div class="disp1"><button class="rw2"></button></div>
            <div class="disp1"><button class="rw2"></button></div>
        </div>
        <div class="checkout">
            <div class="title">
                <h1 class="misu">
                    FORCE OF COLORS
                </h1>
            </div>
            <span class="title-all">Sobre nosotros</span>
            <main class="main-about">
                <p class="main-text">
                    Hola, me llamo <span class="main-text-bold">Daniel</span>, y soy un pequeño artista en el
                    <br> apogeo de una sociedad decadente, solo mi inspiracion te dara lo necesario <br> para sobrevivir a estas descomunales catastrofes culturales de la sociedad actual.
                    <br><br> Espero que disfrutes pero no te olvides de pagarme sucio capitalista
                </p>
                <img style="width: 100%;" src="../../media/pictures/artist-group.jpg" alt="">
            </main>
        </div>
    </div>

    <footer>
        Force of Colors | Todos los derechos reservados © <br> Estamos en <a href="">instagram</a> , <a href="">facebook</a>
        <br><br> Web desarrollada por Achengli Yassin, en github: <a href="">natuprog</a>
    </footer>

</body>

</html>